<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>


</head>
<body>
	
	<section>
		<div class="backimg">
		<!-- <div> -->
			<div class="text-white text-center">
				<h1 style="color:#000000bd">Organize Your Notes Here</h1>
				<p style="color:grey"> Start collecting your electronic notes in very smarter way.</p>
				<button class="btn bg-primary text-white" >Lets start</button>
			</div>
		</div>
		
	</section>

</body>
</html>